# Pasta de dados (dataset da Petrobras 3W)
data/
*.parquet
*.csv

# Pastas com dados brutos
3W/
data/
datasets/

# Arquivos temporários
*.tmp
*.log
__pycache__/
*.pyc

# Credenciais (NUNCA suba!)
.env
credentials.json
aws-keys.json

# Ambiente virtual
venv/
env/
.venv/

# VS Code (opcional)
.vscode/